<!DOCTYPE html>

{% import "macros.html" as macros %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>sadas</title>
    </head>
    <body>
        <h2>Upload</h2>
        {{ macros.display_form(upload_form, "upload", button="Upload") }}
        <h2>Download</h2>
        {{ macros.display_form(download_form, "download", button="Download") }}
    </body>
</html>
