{% macro display_form(form, name, button="Submit") %}
    <form action="/" role="form" method="POST" name="{{ name }}" enctype="multipart/form-data">
        {# Render the hidden fields without labels. #}
        {{ form.hidden_tag() }}

        {% for field in form %}
            {# Only display the label if it's not hidden. #}
            {% if field.widget.input_type != "hidden" %}
                {{ field.label }}
            {% endif %}

            {# Now display the input field itself. #}
            {{ field }}

            {# Any errors should also be put here #}
            {% for error in field.errors %}
                {{ error }}
                <br/>
            {% endfor %}
            <br/>
        {% endfor %}
        <button type="submit">{{ button }}</button>
    </form>
{% endmacro %}
